.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #516a8b;
  padding: 20px;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid rgba(0, 0, 0, 0.37); */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.37);
}
